.#{$button-namespace} {
    @extend %button-base;
    &:hover {
        color: $button-background-hover-color;
        background-color: rgba($button-background-hover-color, 0.15);
    }
    &:focus {
        color: $button-background-focus-color;
        background-color: rgba($button-background-hover-color, 0.075);
    }
    &--filled {
        color: $button-color;
        background-color: $button-background-color;
        &:hover {
            color: $button-hover-color;
            background-color: $button-background-hover-color;
        }
        &:focus {
            color: $button-focus-color;
            background-color: $button-background-focus-color;
        }
    }
    &--hollow {
        border-width: 1px;
        border-color: $button-background-color;
        border-style: solid;
        &:hover {
            border-color: $button-background-hover-color;
            color: $button-background-hover-color;
            background-color: rgba($button-background-hover-color, 0.15);
        }
        &:focus {
            border-color: $button-background-focus-color;
            color: $button-background-focus-color;
            background-color: rgba($button-background-hover-color, 0.075);
        }
    }
    &--text {
        &:hover {
            color: $button-background-hover-color;
            background-color: rgba($button-background-hover-color, 0.15);
        }
        &:focus {
            color: $button-background-focus-color;
            background-color: rgba($button-background-hover-color, 0.075);
        }
    }
    &--stretched {
        width: 100%;
    }
    &__label {
        user-select: none;
        line-height: inherit;
    }
    &__icon {
        user-select: none;
        width: $button-icon-size;
        height: $button-icon-size;
        font-size: $button-icon-size;
        margin-right: 0.5rem;
        margin-left: -0.25rem;
        line-height: 1;
    }
}
