%button-base {
    box-sizing: border-box;
    appearance: none;
    cursor: pointer;
    outline: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    height: $button-height;
    padding-right: 1rem;
    padding-left: 1rem;
    line-height: inherit;
    border: none;
    border-radius: $button-border-radius;
    font-family: inherit;
    font-size: $button-font-size;
    font-weight: $button-font-weight;
    text-decoration: none;
    text-transform: $button-font-case;
    letter-spacing: $button-letter-spacing;
    color: $button-background-color;
    background-color: transparent;
}
