// Namespacing
$button-prefix: 'mb-' !default;
$button-class-name: 'button' !default;
$button-namespace: #{$button-prefix + $button-class-name};

// Basics
$button-height: 2rem !default;
$button-border-radius: 0.25rem !default;

// Font options
$button-font-size: inherit !default;
$button-font-weight: 600 !default;
$button-font-case: none !default;
$button-letter-spacing: normal !default;

// Icons
$button-icon-size: 1rem !default;

// Coloring
$button-color: #FFFFFF !default;
$button-background-color: #93CB56 !default;
$button-hover-color: $button-color !default;
$button-background-hover-color: scale-color($button-background-color, $lightness: +15%) !default;
$button-focus-color: $button-color !default;
$button-background-focus-color: scale-color($button-background-color, $lightness: +5%) !default;
